#contact-container {
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;

    


    /* margin-left: 5%;
    margin-right: 5%; */
}

.footer-container {
    border-bottom: 3px solid var(--primary-purple);
}

.contact-button:hover {
    background-color: var(--primary-purple);
    color: white;
}